/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', Arial, sans-serif; }

.Global {
  position: relative;
  overflow: hidden;
  background-color: #e9edf5;
  color: #3E4147;
  /*  Prevents Flickering  */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

.sz-google-drive {
  z-index: 100;
  background: #ffffff; }

/*
 * Pills
 * A simple, responsive, and tiny CSS grid for humans who don't like memorising all those cryptic codes like col-*-6 or something.
 * https://github.com/rohitkrai03/pills
 * Copyright 2015, Rohit Rai
 */
.row {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden;
  *zoom: 1; }
  .row::before, .row::after {
    content: "";
    display: table;
    line-height: 0; }
  .row::after {
    clear: both; }
  .row .row {
    max-width: 100%;
    min-width: 100%; }
  .row .column,
  .row .columns {
    float: left;
    padding: 10px;
    width: 100%; }
    .row .column:first-of-type,
    .row .columns:first-of-type {
      padding-left: 20px; }
    .row .column:last-of-type,
    .row .columns:last-of-type {
      padding-right: 20px; }

.column img,
.columns img {
  max-width: 100%; }

.column .column:first-of-type,
.column .columns:first-of-type,
.columns .column:first-of-type,
.columns .columns:first-of-type {
  padding-left: 0; }

.column .column:last-of-type,
.column .columns:last-of-type,
.columns .column:last-of-type,
.columns .columns:last-of-type {
  padding-right: 0; }

.column .row:first-of-type > .column,
.column .row:first-of-type > .columns,
.columns .row:first-of-type > .column,
.columns .row:first-of-type > .columns {
  padding-top: 0; }

.column .row:last-of-type > .column,
.column .row:last-of-type > .columns,
.columns .row:last-of-type > .column,
.columns .row:last-of-type > .columns {
  padding-bottom: 0; }

.column.no-padding,
.columns.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.column.one,
.columns.one {
  width: 8.3333333333%; }

.column.two,
.columns.two {
  width: 16.6666666667%; }

.column.three,
.columns.three {
  width: 25%; }

.column.four,
.columns.four {
  width: 33.3333333333%; }

.column.five,
.columns.five {
  width: 41.6666666667%; }

.column.six,
.columns.six {
  width: 50%; }

.column.seven,
.columns.seven {
  width: 58.3333333333%; }

.column.eight,
.columns.eight {
  width: 66.6666666667%; }

.column.nine,
.columns.nine {
  width: 75%; }

.column.ten,
.columns.ten {
  width: 83.3333333333%; }

.column.eleven,
.columns.eleven {
  width: 91.6666666667%; }

.column.twelve,
.columns.twelve {
  width: 100%; }

.column.whole, .column.w-1-1,
.columns.whole,
.columns.w-1-1 {
  width: 100%; }

.column.half, .column.w-1-2,
.columns.half,
.columns.w-1-2 {
  width: 50%; }

.column.one-third, .column.w-1-3,
.columns.one-third,
.columns.w-1-3 {
  width: 33.3333333333%; }

.column.two-thirds, .column.w-2-3,
.columns.two-thirds,
.columns.w-2-3 {
  width: 66.6666666667%; }

.column.one-quarter, .column.one-fourth, .column.w-1-4,
.columns.one-quarter,
.columns.one-fourth,
.columns.w-1-4 {
  width: 25%; }

.column.three-quarters, .column.three-fourths, .column.w-3-4,
.columns.three-quarters,
.columns.three-fourths,
.columns.w-3-4 {
  width: 75%; }

.column.one-fifth, .column.w-1-5,
.columns.one-fifth,
.columns.w-1-5 {
  width: 20%; }

.column.two-fifths, .column.w-2-5,
.columns.two-fifths,
.columns.w-2-5 {
  width: 40%; }

.column.three-fifths, .column.w-3-5,
.columns.three-fifths,
.columns.w-3-5 {
  width: 60%; }

.column.four-fifths, .column.w-4-5,
.columns.four-fifths,
.columns.w-4-5 {
  width: 80%; }

.offset.by-one {
  margin-left: 8.3333333333%; }

.offset.by-two {
  margin-left: 16.6666666667%; }

.offset.by-three {
  margin-left: 25%; }

.offset.by-four {
  margin-left: 33.3333333333%; }

.offset.by-five {
  margin-left: 41.6666666667%; }

.offset.by-six {
  margin-left: 50%; }

.offset.by-seven {
  margin-left: 58.3333333333%; }

.offset.by-eight {
  margin-left: 66.6666666667%; }

.offset.by-nine {
  margin-left: 75%; }

.offset.by-ten {
  margin-left: 83.3333333333%; }

.offset.by-eleven {
  margin-left: 91.6666666667%; }

.offset.by-half {
  margin-left: 50%; }

.offset.by-one-third {
  margin-left: 33.3333333333%; }

.offset.by-two-thirds {
  margin-left: 66.6666666667%; }

.offset.by-one-quarter, .offset.by-one-fourth {
  margin-left: 25%; }

.offset.by-three-quarters, .offset.by-three-fourths {
  margin-left: 75%; }

.offset.by-one-fifth {
  margin-left: 20%; }

.offset.by-two-fifths {
  margin-left: 40%; }

.offset.by-three-fifths {
  margin-left: 60%; }

.offset.by-four-fifths {
  margin-left: 80%; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.pull-left {
  float: left; }

.only-on-mobiles {
  display: none !important; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

@media screen and (max-width: 599px) {
  .row:not(.no-stacking-on-mobiles) > .column,
  .row:not(.no-stacking-on-mobiles) > .columns {
    padding-left: 20px;
    padding-right: 20px;
    width: 100% !important; }
  .column .row .column,
  .column .row .columns,
  .columns .row .column,
  .columns .row .columns {
    padding-left: 0px;
    padding-right: 0px; }
  .center-on-mobiles {
    text-align: center !important; }
  .hide-on-mobiles {
    display: none !important; }
  .only-on-mobiles {
    display: block !important; } }

@media screen and (min-width: 1180px) {
  .wide .row,
  .row .wide {
    margin: 0 auto;
    max-width: 1180px; } }

@media screen and (min-width: 1366px) {
  .wider .row,
  .row .wider {
    margin: 0 auto;
    max-width: 1366px; } }

.show-for-landscape,
.hide-for-portrait {
  display: block !important; }

@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: block !important; } }

@media screen and (orientation: portrait) {
  .show-for-landscape,
  .hide-for-portrait {
    display: none !important; } }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }

@media screen and (orientation: landscape) {
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important; } }

@media screen and (orientation: portrait) {
  .hide-for-landscape,
  .show-for-portrait {
    display: block !important; } }

.Title-H1 {
  color: #E5EDB8;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px; }

.Link,
a {
  color: #A80000;
  -webkit-transition: all .15s linear;
  transition: all .15s linear; }
  .Link:hover,
  a:hover {
    color: #420000; }

input[type=text],
input[type=password] {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle; }
  input[type=text]:focus,
  input[type=password]:focus {
    outline: 0;
    border-color: #129FEA; }

input[type=submit] {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  padding: .5em 1em;
  background-color: #A80000;
  color: #ffffff; }
  input[type=submit]:focus {
    outline: 0; }

.Button, .Commentary .comment-edit-link,
.Commentary .comment-reply-link {
  display: inline-block;
  font-size: 12px;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: .5em 1em;
  color: #ffffff;
  border: 1px solid #A80000;
  background-color: #A80000;
  text-decoration: none;
  border-radius: 2px; }
  .Button--readMore {
    float: right; }
    .Button--readMore:hover {
      color: #E5EDB8; }

textarea {
  border: 0;
  border-radius: 2px;
  font-family: "Raleway"; }

.Part-SingleThumbnail {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 50%; }

.burger {
  position: absolute;
  float: left;
  padding: 10px;
  top: 5px;
  left: 10px;
  display: none; }
  .burger li {
    width: 30px;
    height: 4px;
    background-color: #3E4147;
    border-radius: 3px;
    margin: 5px 0; }
  .burger.open li {
    background-color: #FFFEDF; }
  @media (max-width: 767px) {
    .burger {
      display: block; } }

.Navbar {
  position: absolute;
  top: 12px;
  width: 100%;
  text-align: center; }
  .Navbar .menu-website-container {
    display: inline-block; }
  .Navbar > li {
    margin-left: 5px; }
  .Navbar li {
    float: left;
    display: inline-block; }
    .Navbar li a {
      font-size: 15px;
      color: #FFFEDF;
      padding: 10px 15px;
      display: block;
      font-weight: 300;
      text-decoration: none;
      border-radius: 2px; }
    .Navbar li:hover {
      color: #FFFEDF; }
    .Navbar li.current-menu-item > a {
      font-weight: 700;
      color: #3E4147;
      background: #FFFEDF; }
  .Navbar .menu-item-has-children {
    position: relative; }
    .Navbar .menu-item-has-children a:after {
      content: '\25bc';
      padding-left: 0.5em; }
    .Navbar .menu-item-has-children .sub-menu a:before {
      content: ''; }
    .Navbar .menu-item-has-children .sub-menu a:after {
      content: '\25b8';
      padding-right: 0.5em; }
    .Navbar .menu-item-has-children .sub-menu .sub-menu a:after {
      content: ''; }
  .Navbar .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 180px;
    z-index: 99999; }
  .Navbar .sub-menu li {
    min-width: 180px; }
  .Navbar .sub-menu .sub-menu {
    left: 100%;
    top: 0; }
  .Navbar .sub-menu a {
    background: #A80000;
    line-height: 1em;
    padding: 15px;
    height: auto; }
  .Navbar li:hover > a,
  .Navbar .sub-menu:hover > a {
    color: #3E4147;
    background-color: #FFFEDF;
    text-shadow: none; }
  .Navbar ul li:hover > ul {
    display: block; }
  @media (max-width: 767px) {
    .Navbar {
      width: 93%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      margin: 0;
      background-color: #1d2d35;
      border-radius: 5px;
      /* starting point */
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
      transform: translate3d(5%, 0, 0) scale(0.97);
      /*Nav Shrinking Closed Effect*/ }
      .Navbar.open {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        -webkit-animation: slideIn .35s ease-in-out;
        -moz-transform: translate3d(0, 0, 0) scale(1);
        -moz-animation: slideIn .35s ease-in-out;
        transform: translate3d(0, 0, 0) scale(1);
        animation: slideIn .35s ease-in-out; }
      .Navbar.close {
        opacity: .3;
        -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
        -webkit-animation: slideOut .3s ease-in-out;
        -moz-transform: translate3d(5%, 0, 0) scale(0.97);
        -moz-animation: slideOut .3s ease-in-out;
        transform: translate3d(5%, 0, 0) scale(0.97);
        animation: slideOut .3s ease-in-out; }
      .Navbar ul {
        height: 100%;
        overflow-y: auto; }
        .Navbar ul li {
          display: block;
          float: none; }
          .Navbar ul li:first-child a.active,
          .Navbar ul li:first-child a:hover {
            border-radius: 10px 0 0 0; }
          .Navbar ul li a {
            padding: 20px 20px;
            font-size: 14px;
            text-decoration: none;
            font-weight: 600; }
            .Navbar ul li a.logo {
              display: none; }
            .Navbar ul li a.active {
              color: #556270; }
            .Navbar ul li a:hover {
              color: #556270; } }

.Header {
  height: 60px;
  background-color: #A80000; }
  @media (max-width: 767px) {
    .Header {
      display: block;
      z-index: 2;
      background-color: #A80000;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      /* starting point */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  .Header h1 {
    color: #ffffff;
    text-align: center;
    padding-left: 0;
    display: block; }

@media (max-width: 767px) {
  .Content {
    /* starting point */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 1; } }

/*Content Sliding Open Effect*/
@media (max-width: 767px) {
  .Header.open,
  .Content.open {
    -webkit-transform: translate3d(240px, 0, 0);
    -webkit-animation: open .5s ease-in-out;
    -moz-transform: translate3d(240px, 0, 0);
    -moz-animation: open .5s ease-in-out;
    transform: translate3d(240px, 0, 0);
    animation: open .5s ease-in-out; } }

/*Content Sliding Closed Effect*/
@media (max-width: 767px) {
  .Header.close,
  .Content.close {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: close .3s ease-in-out;
    -moz-transform: translate3d(0, 0, 0);
    -moz-animation: close .3s ease-in-out;
    transform: translate3d(0, 0, 0);
    animation: close .3s ease-in-out; } }

@media (max-width: 767px) {
  /*Nav Expanding Open Effect*/
  @-webkit-keyframes slideIn {
    0% {
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97); }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1); } }
  @keyframes slideIn {
    0% {
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
      transform: translate3d(5%, 0, 0) scale(0.97); }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1); } }
  @-webkit-keyframes slideOut {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1); }
    100% {
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97); } }
  @keyframes slideOut {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1); }
    100% {
      opacity: .3;
      -webkit-transform: translate3d(5%, 0, 0) scale(0.97);
      transform: translate3d(5%, 0, 0) scale(0.97); } }
  @-webkit-keyframes open {
    0% {
      -webkit-transform: translate3d(0, 0, 0); }
    70% {
      -webkit-transform: translate3d(260px, 0, 0); }
    100% {
      -webkit-transform: translate3d(240px, 0, 0); } }
  @keyframes open {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    70% {
      -webkit-transform: translate3d(260px, 0, 0);
      transform: translate3d(260px, 0, 0); }
    100% {
      -webkit-transform: translate3d(240px, 0, 0);
      transform: translate3d(240px, 0, 0); } }
  @-webkit-keyframes close {
    0% {
      -webkit-transform: translate3d(240px, 0, 0); }
    100% {
      -webkit-transform: translate3d(0, 0, 0); } }
  @keyframes close {
    0% {
      -webkit-transform: translate3d(240px, 0, 0);
      transform: translate3d(240px, 0, 0); }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } } }

.Post {
  margin-top: 30px;
  background: #FFFEDF;
  border-radius: 2px;
  padding-right: 20px !important; }
  .Post-Title span {
    display: inline-block;
    vertical-align: text-top;
    padding-left: 10px;
    font-weight: 900;
    color: #A80000; }
  .Post-Title .material-icons {
    color: #A80000; }
  .Post .Content,
  .Post p {
    font-weight: 300; }
  .Post strong,
  .Post b {
    font-weight: 600; }
  .Post footer {
    margin-top: 15px;
    padding: 15px 0 0 0;
    border-top: 1px solid #DFBA69; }
    .Post footer .material-icons {
      font-size: 12px; }

.Banner {
  background: url("../images/banner1.jpg") center;
  background-size: cover;
  width: 100%;
  height: 450px; }

.star {
  background: #FF655E;
  box-shadow: 0 0 10px 5px #591239;
  border-radius: 100%;
  position: absolute; }

.Login {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #e9edf5;
  padding: 10px;
  border-radius: 3px;
  z-index: 10; }
  .Login p {
    font-size: 14px;
    text-align: right;
    color: #3E4147; }
  .Login a[href*="a=logout"] {
    display: inline-block;
    font-size: 12px;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: .5em 1em;
    color: #ffffff;
    border: 1px solid #A80000;
    background-color: #A80000;
    text-decoration: none;
    border-radius: 2px;
    margin-top: 5px; }
  .Login input[type=text],
  .Login input[type=password] {
    max-width: 140px; }
  .Login input[type=submit] {
    display: block;
    width: 100%;
    margin: 10px auto;
    font-weight: 900; }
  .Login legend {
    display: none; }
  .Login label,
  .Login .button_div {
    color: #3E4147;
    font-size: 12px;
    font-weight: 300; }
  .Login label {
    display: block;
    margin-top: 10px; }
    .Login label:first-child {
      margin-top: 0; }
  .Login .div_text {
    margin-top: 5px;
    text-align: center; }
  .Login .button_div {
    margin-top: 10px; }
  .Login #rememberme {
    display: inline-block;
    vertical-align: -2px; }
  .Login #wpmem_login {
    font-family: 'Raleway';
    font-size: 14px; }
    .Login #wpmem_login fieldset {
      margin: 0; }
    .Login #wpmem_login .div_text {
      width: 100%;
      margin: 5px 0 0 0; }
    .Login #wpmem_login .button_div {
      width: 100%;
      height: auto;
      padding: 0;
      margin-bottom: 10px;
      text-align: left; }
    .Login #wpmem_login .link-text {
      color: #3E4147;
      width: 100%;
      font-size: 12px;
      padding: 0; }

#wpmem_login,
#wpmem_reg {
  color: inherit !important; }

.Post-Content .ldc-ul_cont {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  border-style: none;
  height: auto;
  margin: 0;
  padding: 0 10px 0 0;
  float: none; }

.Commentary {
  margin-top: 20px; }
  .Commentary-List {
    color: #FFFEDF; }
  .Commentary-Item {
    position: relative;
    background: #3E4147;
    margin-top: 15px;
    padding: 15px;
    border-radius: 2px; }
    .Commentary-Item:first-child {
      margin-top: 0; }
    .Commentary-Item:after {
      right: 100%;
      top: 25px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(62, 65, 71, 0);
      border-right-color: #3E4147;
      border-width: 10px;
      margin-top: -10px; }
  .Commentary-MetaList {
    margin-top: 10px; }
  .Commentary-Meta {
    display: inline-block;
    font-size: 14px; }
    .Commentary-Meta .material-icons {
      vertical-align: -5px; }
  .Commentary-Form {
    margin-top: 30px; }
    .Commentary-Form textarea {
      width: 100%;
      padding: 10px; }
    .Commentary-Form p {
      margin-top: 10px; }
      .Commentary-Form p input[type='submit'] {
        float: right; }
  .Commentary .comment-author img {
    float: left; }

.Meta-Author a {
  color: #DFBA69; }
  .Meta-Author a:hover {
    color: #FFFEDF; }

.Meta-Modify {
  margin-left: 15px; }
  .Meta-Modify .material-icons {
    font-size: 15px; }

/*# sourceMappingURL=main.css.map */
