.Commentary {
  margin-top: $large;

  &-List {
    color: $sunrise_glow;
    counter-reset: counter;
  }

  > &-Item {
    counter-increment: counter;
    position: relative;
    background: $bicycles_tyres;
    margin-top: $normal;
    padding: $normal;
    border-radius: 2px;

    &:first-child {
      margin-top: 0;
    }

    :before {
      content: counter(counter); /* on affiche le compteur */
      padding: 0 20px 6px;
      margin-right: 8px;
      vertical-align: top;
      background: $asian_red;
      -moz-border-radius: 60px;
      border-radius: 60px;
      font-weight: bold;
      font-size: 0.8em;
      color: $sunrise_glow;
    }

    &:after {
    	right: 100%;
    	top: 25px;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(62, 65, 71, 0);
    	border-right-color: $bicycles_tyres;
    	border-width: 10px;
    	margin-top: -10px;
    }
  }

  &-MetaList {
    margin-top: $medium;
  }

  &-Meta {
    display: inline-block;
    font-size: $f-medium;

    .material-icons {
      vertical-align: -5px;
    }
  }

  .comment-author {
    img {
      float: left;
    }
  }

  .comment-edit-link,
  .comment-reply-link {
    @extend .Button;
  }
}

.Meta {
  &-Author {
    a {
      color: $glowing_effect_tower;

      &:hover {
        color: $sunrise_glow;
      }
    }
  }

  &-Date {

  }

  &-Modify {
    margin-left: $normal;

    .material-icons {
      font-size: 15px;
    }
  }
}
