.Commentary {
  margin-top: $large;

  &-List {
    background: $bicycles_tyres;
    color: $sunrise_glow;
    padding: $normal;
    border-radius: 2px;

    &:after, &:before {
    	bottom: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    &:after {
    	border-color: rgba(136, 183, 213, 0);
    	border-bottom-color: $bicycles_tyres;
    	border-width: 30px;
    	margin-left: -30px;
    }

    &:before {
    	border-color: rgba(194, 225, 245, 0);
    	border-bottom-color: $bicycles_tyres;
    	border-width: 36px;
    	margin-left: -36px;
    }
  }

  &-MetaList {

  }

  &-Meta {

  }

  .comment-author {
    img {
      float: left;
    }
  }

  .comment-edit-link,
  .comment-reply-link {
    @extend .Button;
  }
}

.Meta {
  &-Author {

  }

  &-Date {

  }

  &-Modify {

  }
}
