.Post-Content .ldc-ul_cont {
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 0;
  border-style: none;
  height: auto;
  margin: 0;
  padding: 0 10px 0 0;
  float: none;
}
