.Login {
  position: absolute;
  right: $medium;
  top: $normal;
  background: $gardens;

  p {
    font-size: 14px;
    text-align: right;
    color: $white;
  }

  a[href="/?a=logout"] {
    display: inline-block;
    font-size: 12px;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: .5em 1em;
    color: $white;
    border: 1px solid $peace_goodwill;
    background-color: $peace_goodwill;
    text-decoration: none;
    border-radius: 2px;
    margin-top: $small;
  }

  input[type=text],
  input[type=password] {
    max-width: 140px;
  }

  legend {
    display: none;
  }

  label,
  .button_div {
    color: $white;
    font-size: 12px;
    font-weight: 300;
  }

  label {
    margin-right: $small;
  }

  .div_text {
    display: inline;
    margin-right: $medium;
  }

  .button_div {
    margin-top: $medium;
    text-align: right;
  }

  #rememberme {
    display: inline-block;
    vertical-align: -2px;
  }
}
