.Login {
  position: absolute;
  right: $normal;
  top: $normal;
  background: $death2;
  padding: $medium;
  border-radius: 3px;
  box-shadow: -2px 2px 6px #888;
  z-index: 10;

  @include mq(xs) {
    display: none;
    position: absolute;
    width: 95%;
    left: 0;
    top: 100%;
    right: 0;
    margin: $medium;
    box-shadow: none;
    background: $bicycles_tyres;
    border-radius: 0;

    &:after {
      bottom: 100%;
      left: 92%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(62, 65, 71, 0);
      border-bottom-color: $bicycles_tyres;
      border-width: 5px;
      margin-left: -5px;
    }
  }

  p {
    font-size: 14px;
    text-align: right;
    color: $bicycles_tyres;

    @include mq(xs) {
      text-align: center;
      color: $white;
    }
  }

  a[href*="a=logout"] {
    display: inline-block;
    font-size: 12px;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: .5em 1em;
    color: $white;
    border: 1px solid $asian_red;
    background-color: $asian_red;
    text-decoration: none;
    border-radius: 2px;
    margin-top: $small;

    @include mq(xs) {
      display: block;

    }
  }

  input[type=text],
  input[type=password] {
    max-width: 140px;
  }

  input[type=submit] {
    display: block;
    width: 100%;
    margin: 10px auto;
    font-weight: 900;
  }

  legend {
    display: none;
  }

  label,
  .button_div {
    color: $bicycles_tyres;
    font-size: 12px;
    font-weight: 300;

    @include mq(xs) {
      color: $white;
    }
  }

  label {
    display: block;
    margin-top: $medium;

    &:first-child {
      margin-top: 0;
    }
  }

  .div_text {
    margin-top: $small;
    text-align: center;
  }

  .button_div {
    margin-top: $medium;
  }

  #rememberme {
    display: inline-block;
    vertical-align: -2px;
  }

  #wpmem_login {
    font-family: 'Raleway';
    font-size: 14px;

    fieldset {
      margin: 0;

      @include mq(xs) {
        width: 100%;
      }
    }

    .div_text {
      width: 100%;
      margin: 5px 0 0 0;
    }

    .button_div {
      width: 100%;
      height: auto;
      padding: 0;
      margin-bottom: $medium;
      text-align: left;
    }

    .link-text {
      color: $bicycles_tyres;
      width: 100%;
      font-size: 12px;
      padding: 0;

      @include mq(xs) {
        color: $white;
        line-height: 1.2;
        margin-bottom: 10px;
        text-align: center;

        a {
          display: inline-block;
          color: $glowing_effect_tower;
        }
      }
    }
  }

  &-MobileButton {
    position: relative;
    float: right;
    padding: 12px;
    border: 0;
    background: transparent;

    .material-icons {
      position: absolute;
      opacity: 1;
      color: $white;
      font-size: 33px;
      transition: all .25s ease-in-out;

      &.hide {
        opacity: 0;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

#wpmem_login,
#wpmem_reg {
  color: inherit !important;

  @include mq(xs) {
    .button_div {
      height: auto !important;
      text-align: left !important;
    }

    .link-text {
      text-align: center !important;

      a {
        display: inline-block !important;
      }
    }
  }
}
