.Logo {
  margin-left: 20px;
  padding-top: 10px;

  @include mq(xs) {
    position: absolute;
    left: 50%;
    margin-left: -11px;
    text-align: center;
    padding-top: 12px;
  }

  &-Image {
    display: inline-block;
    width: 22px;
    height: 39px;
    background: url('../images/logo-lpar-or.png') no-repeat;
    background-size: contain;
    vertical-align: middle;

    @include mq(xs) {
      display: block;
      margin: 0 auto;
    }
  }

  &-Slogan {
    font-family: "Gloria Hallelujah";
    color: $glowing_effect_tower;

    @include mq(xs) {
      display: none;
    }
  }
}
