.Logo {
  margin-left: 20px;
  padding-top: 10px;

  &-Image {
    display: inline-block;
    width: 22px;
    height: 39px;
    background: url('../images/logo-lpar.png') no-repeat;
    background-size: contain;
    vertical-align: middle;
  }

  &-Slogan {
    font-family: "Gloria Hallelujah";
    color: $white;
  }
}
