.Part {
  @include mq(xs) {
    z-index: 1;
    position: relative;
    margin-top: 45px;
  }

  &-SingleThumbnail {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50%;
  }
}
