.Post {
  margin-top: $xxl;
  background: rgba(255, 255, 255, 0.1);

  &-Title {

    span {
      display: inline-block;
      vertical-align: text-top;
      padding-left: 10px;
      font-weight: 900;
    }
  }

  .Content,
  p {
    font-weight: 300;
  }

  strong,
  b {
    font-weight: 600;
  }
}
