.Post {
  margin-top: $xxl;
  background: $sunrise_glow;
  border-radius: 2px;
  padding-right: 20px !important;

  &-Title {

    span {
      display: inline-block;
      vertical-align: text-top;
      padding-left: 10px;
      font-weight: 900;
      color: $asian_red;
    }

    .material-icons {
      color: $asian_red;
    }
  }

  .Content,
  p {
    font-weight: 300;
  }

  &-Contact {
    .wpcf7-form {
      margin-bottom: 23px;
      
      p {
        margin-top: $medium;

        input,
        textarea {
          margin-top: $small;
        }

        input[type=text],
        input[type=email],
        textarea {
          border-radius: 2px;
          border: 0;
          background: $bicycles_tyres;
          box-shadow: none;
          color: $glowing_effect_tower;
        }

        input[type=submit] {
          float: right;
        }

        textarea {
          width: 100%;
        }
      }
    }
  }

  strong,
  b {
    font-weight: 600;
  }

  footer {
    margin-top: $normal;
    padding: $normal 0 0 0;
    border-top: 1px solid $glowing_effect_tower;
    font-size: $f-small;

    .material-icons,
    .ldc-ul_cont {
      font-size: $f-small;
    }

    .material-icons {
      vertical-align: -3px;
    }
  }
}
