.Post {
  margin-top: $xxl;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;

  &-Title {

    span {
      display: inline-block;
      vertical-align: text-top;
      padding-left: 10px;
      font-weight: 900;
    }
  }

  .Content,
  p {
    font-weight: 300;
  }

  strong,
  b {
    font-weight: 600;
  }

  footer {
    margin-top: $large;
    padding: $medium 0 0;
    border-top: 1px solid $gardens;

    .material-icons {
      font-size: 12px;
    }
  }
}
