// Colors
$black               : #556270;
$white               : #ffffff;

$mighty_slate        : #556270;
$pacifica            : #4ECDC4;
$apple_chic          : #C7F464;
$cheery_pink         : #FF6B6B;
$grandma_pillow      : #C44D58;

// 2e palette
$black_rasberry      : #300018;
$peace_goodwill      : #5A3D31;
$olives              : #837B47;
$gardens             : #ADB85F;
$reflection          : #E5EDB8;

//3e palette
$garden              : #0B5C18;
$gimmi_more          : #C2EB21;
$life_sparks         : #D6FF85;
$touch_on_dreams     : #7070FF;
$weather_in_heaven   : #931DAD;

//4e palette
$bicycles_tyres      : #3E4147;
$sunrise_glow        : #FFFEDF;
$glowing_effect_tower: #DFBA69;
$asian_red           : #A80000;
$death2              : #aaaaaa;

// Spaces
$small               : 5px;
$medium              : 10px;
$normal              : 15px;
$large               : 20px;
$xxl                 : 30px;

// Font Size
$f-small             : 12px;
$f-medium            : 14px;
$f-big               : 20px;
