*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
}

.Global {
  position:relative;
	overflow: hidden;
	background-color: $gardens;
  color: $black_rasberry;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.sz-google-drive {
  z-index: 100;
  background: $white;
}
