input[type=text],
input[type=password],
input[type=email] {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;

  @include mq(xs) {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: 0;
    border-color: #129FEA;
  }
}

input[type=submit] {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  padding: .5em 1em;
  background-color: $asian_red;
  color: $white;

  @include mq(xs) {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: 0;
  }
}
